.container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.card {
  width: 300px;
  height: 98%;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 500ms ease;
  position: relative;
}

.card-collection {
  width: 300px;
  height: 98%;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 500ms ease;
  position: relative;
}

.card:hover {
  transform: translateY(-20px);
  -webkit-box-shadow: 0px 8px 25px -6px rgba(105, 100, 105, 1);
  -moz-box-shadow: 0px 8px 25px -6px rgba(105, 100, 105, 1);
  box-shadow: 0px 8px 25px -6px rgba(105, 100, 105, 1);
}

.card-collection:hover {
  transform: translateY(-20px);
  -webkit-box-shadow: 0px 8px 25px -6px rgba(105, 100, 105, 1);
  -moz-box-shadow: 0px 8px 25px -6px rgba(105, 100, 105, 1);
  box-shadow: 0px 8px 25px -6px rgba(105, 100, 105, 1);
}

.card-collection:hover img {
  opacity: 0.7;
}

.card-collection:hover .see {
  opacity: 1;
}

.card > img {
  object-fit: cover;
  width: 300px;
  height: 400px;
}

.card-collection > img {
  object-fit: cover;
  width: 300px;
  height: 400px;
}

.card-collection > .collection {
  background-color: red;
  color: white;
  position: absolute;
  padding: 10px;
  padding-right: 25px;
  width: 250px;
  border: none;
  font-size: 18px;
  left: -75px;
  top: 50px;
  transform: rotate(-50deg);
}

.card-collection > .see {
  transition: 500ms ease;
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  border: none;
  z-index: 900;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.section-card {
  background-color: #eef0f3;
  width: 100%;
  height: 80px;
  position: absolute;
  padding: 10px;
  bottom: -10px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-card > button {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: white;
  transition: 500ms ease;
}

.section-card > button:hover {
  background-color: #0c4bd3;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eef0f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spiner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #0c4bd3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-mini {
  border: 3px solid #f3f3f3;
  border-radius: 100%;
  border-top: 3px solid rgb(15, 12, 211);
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spinMini 500ms linear infinite;
}

@-webkit-keyframes spinMini {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinMini {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
